#hero-video {
    width: 100%;
}
.navbar {
  background-color: rgba(0, 0, 0, 0.8);
}
.subheader {
  position: relative;
  overflow: hidden;
  height: calc(85vh + 6rem);
  background-color: #555;
  padding-left: 6vw;
  padding-right: 6vw;
  color: #fff;
}

.subheader h1{
  color: #fff;
  text-align: center;
  margin-bottom: 2rem;
  font-weight: 700;
  font-size: calc(2rem + 2vw);
  line-height: 1;
}

.subheader p{
  font-size: 1.5rem;
  color: #fff;
  text-align: center;
  font-size: 2rem;
  font-weight: 300;
  margin-bottom: 1.5rem;
}

.video{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.video-container {
    width: 100%;
    max-height: 400px;
    min-height: 200px;
    overflow: hidden;
}

.video video{
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  transform: translateX(-50%) translateY(-50%);
}

.video:after{
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background: rgb(0 0 0 / 42%);
}

.subheader .content{
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%,-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  max-width: 70rem;
  z-index: 2;
}

.menu{
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
}

.menu-inner{
  width: 2.5rem;
  position: relative;
  z-index: 2;
}

.menu-inner span{
  display: block;
  height: 3px;
  background-color: #fff;
  border-radius: 2px;
}

.menu-inner span:nth-child(2){
  margin: 7px 0;
}

.section-info{
  margin-top: -6rem;
  display: flex;
  flex-wrap: wrap;
  /*position: relative;*/
}

.section-info .left,
.section-info .right{
  width: 50%;
  position: relative;
}

.section-info .bottom{
  width: 100%;
  position: relative;
}

.section-info figure{
    position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: -webkit-clip-path .5s ease;
  transition: clip-path .5s ease;
  transition: clip-path .5s ease,-webkit-clip-path .5s ease;
  overflow: hidden;
  z-index: 1;
}

.section-info .left figure {
    -webkit-clip-path: polygon(0 1rem,100% 4rem,100% 100%,0 100%);
  clip-path: polygon(0 1rem,100% 4rem,100% 100%,0 100%);
}

.section-info:hover .left figure {
  -webkit-clip-path: polygon(0 6rem,100% 1rem,100% 100%,0 100%);
  clip-path: polygon(0 6rem,100% 1rem,100% 100%,0 100%)
}

.section-info .right figure{
  -webkit-clip-path: polygon(0 4rem,100% 1rem,100% 100%,0 100%);
  clip-path: polygon(0 4rem,100% 1rem,100% 100%,0 100%);
}


.section-info:hover .right figure {
   -webkit-clip-path: polygon(0 1rem,100% 6rem,100% 100%,0 100%);
  clip-path: polygon(0 1rem,100% 6rem,100% 100%,0 100%);
}

.section-info div:hover img,
.section-info div:hover img{
  transform: scale(1.05);
}

.section-info figure img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  transition: transform .5s ease;
  transform: translateZ(0);
}


.info-inner {
  position: relative;
  padding: 6rem 1.5rem;
  transform: translateZ(0);
  z-index: 2;
  padding-top: 50%;
  padding-bottom: 0;
}

.info-content{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.bottom .info-content{
  position: relative;
}

.bottom .info-inner{
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.info-content h2{
  color: #fff;
  text-align: center;
  margin-bottom: 1rem;
  font-size: calc(1.75rem + 1.5vw);
  font-weight: 700;
}

.info-content p{
  color: #fff;
  text-align: center;
  max-width: 25rem;
  font-weight: 300;
  font-size: 1.15rem;
  line-height: 1.5;
}

.section-info figure:before {
  content: '';position: absolute;left: 0;right: 0;top: 0;bottom: 0;background: rgb(3 3 3 / 61%);z-index: 2;
  opacity: 0;
  transition: all .3s ease;
}

.section-info > div:hover figure:before {
  opacity: 1;
}

.products {
  padding: 70px 0 0;
  background: #f5f5f5 url(../img/demo.png) left top no-repeat;
}

.products h1{
  font-weight: 700;
  text-align: center;
  line-height: 1;
  font-size: calc(1rem + 3vw);
  margin-bottom: 2rem;
}


.products h2{
  text-align: center;
  line-height: 1;
  font-size: 1.5rem;
  margin: 0 auto;
  margin-bottom: 2rem;
  max-width: 600px;
}

.products > li {
  display: flex;
  box-shadow: 0 0 3px rgb(0 0 0 / 18%);
  margin-bottom: 2rem;
  background: #fff;
}


/*.products > li:nth-child(even) .right-content{
  order: 1;
  text-align: right;
}

.products > li:nth-child(even) img{
  order: 2;
}*/

.btn-custom {
  display: inline-flex;
  align-items: center;
  position: relative;
  padding: 1rem 1.5rem;
  color: #2de0ac;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1rem;
  transition: color .25s ease;
  z-index: 2;
  border: 2px solid;
  cursor: pointer;
  margin-top: 20px;
  background: transparent;
}

.products ol{
  margin: inherit;
}

.products ol li {
  margin-bottom: 14px;
}

.products h3{
  color: #a0bee2;
  margin-bottom: 1rem;
  font-size: 2rem;
  font-weight: 700;
}

.right-content{
  padding: 2rem;
  background: #fff;
}

footer{
  background: url(../img/footer-bg.jpeg) right bottom/cover no-repeat;
  color: #fff;
  padding: 9rem 2rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
}

footer h1{
  font-size: 2rem;
  margin-bottom: 1rem;
}

footer p{
  line-height: 1.5;
}


footer .right .cpr{
  color: #ccc;
  margin-top: 20px;
  text-align: right;
}

.soc{
  display: flex;
  list-style-type: none;
}
.soc a {
  margin: 0 14px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  border: 2px solid #fff;
  font-size: 1.25rem;
  color: #fff;
  text-decoration-line: none;
}

.section-info-mobile {
  display: none;
}
.section-info-mobile .info-mobile-content {
  display: flex;
  width: 100%;
}
.section-info-mobile .info-mobile-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.section-info-mobile .info-mobile-block {
  max-width: 100%;
  background-size: cover !important;
  padding: 40px;
  width: 100%;
}
.section-info-mobile .info-mobile-block h2 {
  color: #fff;
  text-align: center;
  margin-bottom: 1rem;
  font-size: calc(1.75rem + 1.5vw);
  font-weight: 700;
  margin: 0 auto;
}
.section-info-mobile .info-mobile-block p {
  color: #fff;
  text-align: center;
  max-width: 25rem;
  font-weight: 500;
  font-size: 1.15rem;
  line-height: 1.5;
  margin: 0 auto;
}

.info .info-mobile-block {
  min-height: 700px;
  max-width: 100%;
  background-size: cover !important;
  padding: 140px 40px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(198.73deg, rgba(0, 0, 0, 0.6) 100%, rgba(0, 0, 0, 0.6) 100%);
}
.info .info-mobile-block h2 {
  color: #fff;
  text-align: center;
  margin-bottom: 1rem;
  font-size: calc(1.75rem + 1.5vw);
  font-weight: 700;
}

.info .info-mobile-block p {
  color: #fff;
  text-align: center;
  max-width: 55rem;
  font-weight: 500;
  font-size: 1.15rem;
  line-height: 1.5;
  margin: 0 auto;
}

.info li {
  color: #fff;
  font-size: 1.4rem;
}
@media (max-width: 1350px) {
  .section-info {
    display: none;
  }
  .section-info-mobile {
    display: flex;
  }
  .products li {
    flex-direction: column;
    width: 100%;
    align-items: center;
    padding: 20px 5px;
  }
  .products h3 {
    text-align: center;
  }
  .btn-custom {
    left: 50%;
    margin-left: -66px;
  }
  img {
    width: 270px;
  }
}

@media (max-width: 992px) {
  .navbar-brand{
      width: 60%;
  }
  .navbar-brand img{
    width: 90%;
}
  .right-content {
    padding: unset;
  }
}

@media (max-width: 768px) {
  .subheader .content {
    top: 40%;
  }
  .subheader h1 {
    font-size: 1.3rem;
  }
  .subheader p {
    font-size: 1.1rem;
    font-weight: 500;
  }
  footer {
    justify-content: center;
  }
  .section-info-mobile .info-mobile-content {
    flex-direction: column;
    width: 100%;
  }
}
